<script src = "https://code.highcharts.com/highcharts.js" > </script>
<script src = "https://code.highcharts.com/modules/series-label.js" > </script>
<script src = "https://code.highcharts.com/modules/exporting.js" > </script>
<h1>Price#index</h1>

  <%= button_to "Dólar", price_get_quote_last_seven_days_path, params: { currencies: ["BRL", "USD"]}, method: :get %>
  <%= button_to "Euro", price_get_quote_last_seven_days_path, params: { currencies: ["BRL", "EUR"]}, method: :get %>
  <%= button_to "Pesos argentinos", price_get_quote_last_seven_days_path, params: { currencies: ["BRL", "ARS"]}, method: :get %>
  <%= @quote_last_seven_days %>

  <%# <div id = "container" style = "height: 400px;" > </div> %>
    <%# javascript_pack_tag 'highcharts', 'data-turbolinks-track': 'reload' %>

  <%# </div> %>
  <p id="teste"> texto </p>
<div id = "container" style = "height: 400px;" >
  <script>
    Highcharts.chart('container', {

  title: {
      text: document.getElementById("teste");
  },

  subtitle: {
      text: 'Fonte: hgbrasil.com'
  },

  yAxis: {
      title: {
          text: 'Number of Employees'
      }
  },

  xAxis: {
      accessibility: {
          rangeDescription: 'Range: 2010 to 2017'
      }
  },

  legend: {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle'
  },

  plotOptions: {
      series: {
          label: {
              connectorAllowed: false
          },
          pointStart: 2010
      }
  },

  series: [{name: "Teste", data: [12212, 1232323]}],

  responsive: {
      rules: [{
          condition: {
              maxWidth: 500
          },
          chartOptions: {
              legend: {
                  layout: 'horizontal',
                  align: 'center',
                  verticalAlign: 'bottom'
              }
          }
      }]
  }

});
  </script>
</div>
